<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
  </configSections>
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel.MessageLogging" switchValue="Warning,ActivityTracing">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type="" />
          </add>
        </listeners>
      </source>
      <source propagateActivity="true" name="System.ServiceModel" switchValue="Off,ActivityTracing">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type="" />
          </add>
        </listeners>
      </source>
    </sources>
    <trace autoflush="false" />
  </system.diagnostics>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.serviceModel>
    <diagnostics>
      <messageLogging logEntireMessage="false" logMalformedMessages="true"
        logMessagesAtServiceLevel="false" logMessagesAtTransportLevel="true" />
    </diagnostics>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IAdminAuthService" />
        <binding name="BasicHttpBinding_ILanguageManagmentService" />
        <binding name="BasicHttpBinding_IApplicationManagementService" />
        <binding name="BasicHttpBinding_IFormManagmentService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:61247/AdminAuthService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAdminAuthService"
        contract="AdminAuthServiceReference.IAdminAuthService" name="BasicHttpBinding_IAdminAuthService" />
      <endpoint address="http://localhost:61247/LanguageManagmentService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ILanguageManagmentService"
        contract="LangManagmentServiceReference.ILanguageManagmentService"
        name="BasicHttpBinding_ILanguageManagmentService" />
      <endpoint address="http://localhost:61247/ApplicationManagementService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IApplicationManagementService"
        contract="ApplicationManagementServiceReference.IApplicationManagementService"
        name="BasicHttpBinding_IApplicationManagementService" />
      <endpoint address="http://localhost:61247/FormManagmentService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IFormManagmentService"
        contract="FormManagementServiceReference.IFormManagmentService"
        name="BasicHttpBinding_IFormManagmentService" />
    </client>
  </system.serviceModel>
</configuration>